node_modules
.next
.env
.env.local
dist
/root/backup
*.bak.*
*.log
npm-debug.log*
yarn-error.log*
pnpm-lock.yaml
backup_now.tgz
*.tgz
*.tar.gz
*.zip
*.sql
*.dump
backup_now.tgz
*.tgz
*.tar.gz
*.zip
*.sql
*.dump
